# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____

# PUT YOUR SESSION ID BELOW (Required)
SESSION_ID=MEGA-MD_96a2f503452617998cc7a16f4609cbcc

# PUT YOUR REMOVE BACKGROUND KEY (Optional)
REMOVEBG_KEY=

PORT=5000

# If you don't have session id and want pairing code for connection 
PAIRING_NUMBER=94783586382


# Use One Of Following:
# Database Configuration (Optional but recommended)
# Leave empty to use JSON file storage

# MongoDB (Optional)
MONGO_URL=

# PostgreSQL (Optional)
POSTGRES_URL=

# MySQL (Optional)
MYSQL_URL=

# SQLite Path (Optional)
# Example: DB_URL=./data/baileys.db
DB_URL=

PREFIXES=!

PACKNAME=🌎GEOCENTRIX🌎

BOT_NAME=🌎GEOCENTRIX-BOT🌎

OWNER_NUMBER=94783586382

COMMAND_MODE=private

BOT_OWNER=BIG BOSS

TIMEZONE=Asia/Karachi
